---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import H1 from "../components/H1.astro";
import Button from "../components/Button.astro";
import Form from "../components/Form.astro";
import FeatureSection from "../components/FeatureSection.astro";

// import the Image component from Astro and the main landing page image
import { Image } from "astro:assets";
import mainLandingPage from "./assets/main-landing-image.jpeg";

// Feature Section Image Imports
import featureImage1 from "./assets/feature-section-1.jpg";
import featureImage2 from "./assets/feature-section-2.jpg";
import featureImage3 from "./assets/feature-section-3.jpg";
---

<Layout title="Gerardo Miramontes">
	<Main>
		<!-- H1 : Es el titulo de la pagina, cambialo para actualizarlo -->
		<H1 text="Diálogo con Gerardo Miramontes" />

		<!-- Subtitulo de la pagina -->
		<p class="text-white text-center text-2xl">
			Una plática profunda y limitada a 40 humanos interesados en
			empujarse a ser su mejor puta versión
		</p>

		<!-- Imagen de bienvenida -->
		<div class="flex justify-center mt-10 mx-2 sm:mx-11">
			<Image
				class="w-full sm:w-4/5 md:w-7/12 lg:w-7/12 xl:w-7/12 h-auto object-contain sm:mx-11 aspect-w-4 aspect-h-3 rounded-lg"
				src={mainLandingPage}
				alt="Gerardo Miramontes Main Landing Page Image"
			/>
		</div>

		<!-- Boton de registro -->
		<div id="showFormButton" class="flex justify-center mt-10">
			<Button text="Registar inmediatamente" />
		</div>

		<div id="registrationForm" class="hidden">
			<Form />
		</div>

		<!-- Seccion de caracteristicas -->
		<!-- Features section -->
		<FeatureSection
			heading="¿Qué vas a aprender?"
			imageSrc={featureImage1}
			imageDescription="Gerardo Miramontes Main Landing Page Image"
			htmlContent={`
				<p>
					En este diálogo, Gerardo Miramontes compartirá contigo
					los secretos detrás de su éxito y cómo puedes aplicarlos
					en tu vida para alcanzar tus metas y sueños.
				</p>
				<br>
				<p>
					Además, tendrás la oportunidad de hacerle preguntas y
					recibir respuestas directas de él.
				</p>
			`}
			buttonText="Regístrate ahora"
		/>

		<FeatureSection
			heading="¿Por qué deberías asistir?"
			imageSrc={featureImage2}
			imageDescription="Gerardo Miramontes Main Landing Page Image"
			htmlContent={`
				<ul class="list-disc pl-5 pt-3 space-y-2">
					<li>
						Si estás buscando inspiración, motivación y consejos prácticos para alcanzar tus metas y sueños, este diálogo es para ti.
					</li>
					<li>
						No pierdas la oportunidad de aprender de uno de los mejores y más exitosos emprendedores de la actualidad.
					</li>
					<li>
						Aprovecha esta oportunidad única para transformar tu vida y alcanzar el éxito que siempre has deseado.
					</li>
				</ul>
			`}
			buttonText="Regístrate ahora"
		/>

		<FeatureSection
			heading="¿Qué vas a aprender?"
			imageSrc={featureImage3}
			imageDescription="Gerardo Miramontes Main Landing Page Image"
			htmlContent={`
				<p>
					En este diálogo, Gerardo Miramontes compartirá contigo
					los secretos detrás de su éxito y cómo puedes aplicarlos
					en tu vida para alcanzar tus metas y sueños.
				</p>
				<br>
				<p>
					Además, tendrás la oportunidad de hacerle preguntas y
					recibir respuestas directas de él.
				</p>
			`}
			buttonText="Regístrate ahora"
		/>

	</Main>
</Layout>

<!-- Form js -->
<script>
	// Show the registration form when the button is clicked and hide the button
	const showFormButton = document.getElementById("showFormButton");
	const registrationForm = document.getElementById("registrationForm");

	if (showFormButton && registrationForm) {
		showFormButton.addEventListener("click", function () {
			// Hide the button
			showFormButton.classList.add("hidden");
			// Show the registration form
			registrationForm.classList.remove("hidden");
		});
	}
</script>
