---
type Props = {
    text: string;
    colorClass?: string;
};

const { text, colorClass = "bg-vividGreen" } = Astro.props;

---

<button
    class={`${colorClass} hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full uppercase`}>
    {text}
</button>
