---
import Footer from "../components/Footer.astro";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body class="min-h-screen grid bg-black">
		<slot />
	</body>

	<!-- <Footer /> -->
	<Footer
		facebookLink="https://www.facebook.com/profile.php?id=100069680796380"
		instagramLink="https://www.instagram.com/gerardo_miramontess/"
		twitterLink="https://x.com/GeritaMiramont2"
		youtubeLink="https://www.youtube.com/channel/UCqkp4rix7XMzQY8scqNH4Hw"
		spotifyLink="https://open.spotify.com/show/3F30x03LNKqKXfdZnGGr8B?si=936cc825a04340f1"
	/>
</html>
